/**Body Style**/

body {
    background-color:grey;
}
header {
	text-align:center;
	text-shadow:3px 1px white;
	margin-top:50px;
	margin-bottom:50px;
}




table { 
   border:3px solid aliceblue;
   width:50%;
   text-align:center;
   padding:20px;
   box-shadow:10px 10px;
}

table {
	margin:auto;
}

tr:nth-child(odd) {
	background-color:white;
}
